body{
    background: white;
    padding-top: 50px;
}
header{
    color: rgb(6, 6, 147);
    background:  rgba(107, 106, 106, 0.392);
}
.header {
    text-align: center;
    
}
.header .row{
    color: rgb(0, 136, 255);
}
table{
    border: 4px solid black;
    
    

}
td{
    border: 2px solid black;
    text-align: center;
    color: rgb(0, 136, 255);
    font-weight: bold;
}
thead{
    font-size: 30px;
    color: rgb(6, 6, 147);
    background: rgba(107, 106, 106, 0.392);
}
tbody{
    background: rgba(107, 106, 106, 0.119);
}
#button1 {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgb(255, 196, 0);
    box-shadow: inset 0px 0px 7px black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 17px;
    font-weight: bold;
}

#button2 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: grey;
    box-shadow: inset 0px 0px 7px white;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 17px;
}

#button3 {
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgb(2, 208, 2);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

#may {

    text-transform: capitalize;
    color: white;
    background: rgb(105, 244, 5);
    border-radius: 20px;

}